body {
  background:#0f0f0f;
  color:white;
  font-family:sans-serif;
  margin:0;
}

.login-box {
  max-width:400px;
  margin:80px auto;
  background:#1a1a1a;
  padding:20px;
  border-radius:15px;
  text-align:center;
}

input {
  width:100%;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
  border:none;
  font-size:18px;
}

button {
  width:100%;
  padding:15px;
  margin:10px 0;
  font-size:20px;
  background:#d4af37;
  border:none;
  border-radius:12px;
  font-weight:bold;
}

.menu a {
  display:block;
  margin:15px;
  padding:20px;
  background:#222;
  color:white;
  text-decoration:none;
  font-size:22px;
  border-radius:15px;
  text-align:center;
}
